In [7]:
a = "Life is too short, You need Python"
b = 'pithon'

list_a = a.split()
list_b = list(b)

print(list_a)
print(list_b)

list_b[1] = 'y'
print(list_b)

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']
['p', 'i', 't', 'h', 'o', 'n']
['p', 'y', 't', 'h', 'o', 'n']

In [11]:
a = "Life is too short, You need Python"
list_a = a.split()

print(list_a)

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

In [12]:
del list_a[0]

print(list_a)

['is', 'too', 'short,', 'You', 'need', 'Python']

| 함수      | 설명                                                         |
|---------|------------------------------------------------------------|
| append  | 리스트 끝에 항목을 추가합니다.  list_a.append(6)                                         |
| sort    | 리스트의 요소를 오름차순 또는 내림차순으로 정렬합니다. 설정을 통해 정렬 순서를 변경할 수 있습니다. list_a.sort(), list_a.sort(), list_a.sort(reverse=True)    |
| reverse | 리스트의 요소 순서를 뒤집습니다.  list_a.reverse()                                     |
| index   | 지정한 요소가 처음으로 나타나는 위치의 인덱스를 반환합니다. 요소가 리스트에 없으면 오류가 발생합니다.  list_a.index(3)|
| insert  | 지정한 위치에 요소를 삽입합니다. 위치 인덱스는 리스트의 시작부터 0으로 계산됩니다.  list_a.insert(4, 5) # 4번째 위치에 5를 삽입             |
| remove  | 리스트에서 첫 번째로 나오는 지정한 값을 삭제합니다. 요소가 리스트에 없으면 오류가 발생합니다.  list_a.remove(1) # 리스트에서 첫번째로 나오는 1을 제거      |
| pop     | 지정한 위치에 있는 요소를 리스트에서 제거하고, 그 값을 반환합니다. 위치를 지정하지 않으면, 마지막 요소를 제거하고 반환합니다.  list_a.pop()  |
| count   | 리스트에서 지정한 값이 나타나는 횟수를 반환합니다.  list_a.count(1)                             |
| extend  | 리스트 끝에 다른 리스트(또는 반복 가능한 다른 요소)의 모든 항목을 추가합니다.   list_a.extend([4, 5])            |
| min     | 리스트 내의 최소값을 반환합니다. 숫자 또는 알파벳 순서로 최소값을 찾을 수 있습니다.   min(list_a)           |
| max     | 리스트 내의 최대값을 반환합니다. 숫자 또는 알파벳 순서로 최대값을 찾을 수 있습니다.   max(list_a)           |

반환되는 값들은 변수에 담아서 따로 사용가능

In [13]:
list_a.append("2일차")
print(list_a)

list_a.sort()
print(list_a)

list_a.reverse()
print(list_a)

print(list_a.index("2일차"))

list_a.insert(2, "3번쨰에 추가된 무언가")
print(list_a)

['is', 'too', 'short,', 'You', 'need', 'Python', '2일차']
['2일차', 'Python', 'You', 'is', 'need', 'short,', 'too']
['too', 'short,', 'need', 'is', 'You', 'Python', '2일차']
6
['too', 'short,', '3번쨰에 추가된 무언가', 'need', 'is', 'You', 'Python', '2일차']

In [33]:
# print(list_a.pop(6))
print(list_a)

print(list_a.count(6))

# list_a.extend(['z', 'y'])
print(list_a)

print(min(list_a))
print(max(list_a))

5
['too', 'short,', 'need', 'is', 'You', 'Python', 'z', 'y']
0
['too', 'short,', 'need', 'is', 'You', 'Python', 'z', 'y']
Python
z

In [43]:
# 문제 1
# 1. 1부터 10까지의 숫자를 포함하는 리스트를 생성하세요.
# list_one = [1,2,3,4,5,6,7,8,9,10]
# list_one = list(range(1, 11))
# print(list_one)

# numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. 생성한 리스트에서 세 번째 요소를 출력하세요.
# print(list_one[2])

# print(numbers[2])

# 3. 리스트의 마지막 요소를 출력하세요.
# print(list_one[-1])

# print(numbers[-1])
# print(numbers[9])

In [37]:
# 문제 2
# 1. 다음 문자열을 요소로 하는 리스트를 생성하세요: "apple", "banana", "cherry"
# list_two = ['apple', 'banana', 'cherry']
# print(list_two)

# fruits = ["apple", "banana", "cherry"]

# 2. "banana" 대신 "blueberry"를 넣어서 리스트를 수정하세요.
# list_two[1] = 'blueberry'
# print(list_two)

# fruits[1] = "blueberry"

# 3. 리스트 끝에 "orange"를 추가하세요.
# list_two.append('orange')
# print(list_two)

# fruits.append("orange")

# 4. 리스트의 두 번째 위치에 "kiwi"를 삽입하세요.
# list_two.insert(1,'kiwi')
# print(list_two)

# fruits.insert(1, "kiwi")
# print(fruits)

['apple', 'banana', 'cherry']
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']
['apple', 'kiwi', 'blueberry', 'cherry', 'orange']

In [38]:
# 문제 3
# 다음 리스트를 사용하세요: [3, 1, 4, 1, 5, 9, 2]
# numbers = [3, 1, 4, 1, 5, 9, 2]

# list_three = [3, 1, 4, 1, 5, 9, 2]

# 2. 리스트를 오름차순으로 정렬하세요.
# numbers.sort()
# print("오름차순 정렬:", numbers)

# list_three.sort()
# print(list_three)

# 3. 리스트에서 최대값과 최소값을 찾아 출력하세요.
# print("최대값:", max(numbers))
# print("최소값:", min(numbers))

# print(f"최대값: {max(list_three)}, 최소값: {min(list_three)}")

# 4. 리스트의 길이를 출력하세요.
# print("리스트 길이:", len(numbers))

# print(f"리스트의 길이: {len(list_three)}")

# 5. 리스트에서 "1"의 개수를 세어 출력하세요.
# print('"1"의 개수:', numbers.count(1))

# print(f"\"1\"의 개수: {list_three.count(1)}")

[1, 1, 2, 3, 4, 5, 9]
최대값: 9, 최소값: 1
리스트의 길이: 7
"1"의 개수: 2

튜플
리스트와 비슷하지만, 생성하고 난 후에는 변경 불가능

리스트 처럼 중복도 허용
수정하려면 변수 명에 새로운 튜플 요소로 선언하는 것이 유일하다

In [44]:
t1 = {1, 2, 3, 4}

del t1[0]

# 튜플은 생성이후, 변경 불가능

TypeError: 'set' object doesn't support item deletion

In [46]:
t1[0]

TypeError: 'set' object is not subscriptable

In [49]:
t1[:2]

TypeError: 'set' object is not subscriptable

In [48]:
len(t1)

4

딕셔너리

딕셔너리명 = {key1:value1, key2:value2}

생성이후 변경 가능, 키값 제외 변경 가능
키에 해당하는 요소를 지우고 다시 생성하는것 외에는 키값 변경 불가능

순서 없음 -> 인덱스 없음


|            키          |    값                |
|   name                 |            Alice     |

In [2]:
my_dict = {'name' : 'Alice', 'age' : 25, 'language' : 'python'}

In [51]:
my_dict['name']

'Alice'

In [63]:
my_dict['country'] = 'wonderland'
my_dict

{'name': 'Alice', 'age': 25, 'language': 'python', 'country': 'wonderland'}

In [53]:
# 기존의 값에 새로운 값을 넣어줄 수 있다
my_dict['age'] = 26
my_dict

{'name': 'Alice', 'age': 26, 'language': 'python', 'country': 'wonderland'}

In [54]:
# 키를 이용하여 제거
del my_dict['age']
my_dict

{'name': 'Alice', 'language': 'python', 'country': 'wonderland'}

In [3]:
print(my_dict.keys())

dict_keys(['name', 'age', 'language'])

In [56]:
my_dict.values()

dict_values(['Alice', 'python', 'wonderland'])

In [57]:
my_dict.items()

# 나중에 반복문에서 많이 사용

dict_items([('name', 'Alice'), ('language', 'python'), ('country', 'wonderland')])

In [58]:
# 딕셔너리 비우기
my_dict.clear()
my_dict

{}

In [59]:
my_dict['num']

KeyError: 'num'

In [60]:
# my_dict['num']
# 위의 코드에서는 없는 키값을 찾는다는 에러가 뜬다

print(my_dict.get('num'))

None

In [64]:
# 없는 값을 찾으면 false
# 값이 존재한다면 true
'name' in my_dict

True

In [65]:
my_identify = {"이름": "이은서", "나이" : 27, "돈의 양" : 200}

print(my_identify.get('이름'))

이은서

집합(set)

In [68]:
s1 = set()
s2 = {4, 5, 6, 7, 8}
s3 = set([1, 2, 3, 4, 5])

In [71]:
print(s2 & s3)
print(s2 | s3)
print(s2 - s3)
print(s2 ^ s3)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [76]:
s1.add(1)
print(s1)

s1.update([4, 5, 6])
print(s1)

s1.remove(6)
print(s1)

s1.discard(6)
print(s1)

s1.clear()
print(s1)

{1}
{1, 4, 5, 6}
{1, 4, 5}
{1, 4, 5}
set()

불(bool) 자료형
True, False

| 값         | 불리언 평가 |
|------------|-----------|
| `True`     | True      |
| `False`    | False     |
| `0`        | False     |
| `1`        | True      |
| `-1`       | True      |
| `""` (빈 문자열) | False  |
| `" "` (공백) | True   |
| `[]` (빈 리스트) | False  |
| `[1, 2]` (요소가 있는 리스트) | True |
| `()` (빈 튜플) | False  |
| `(1,)` (요소가 있는 튜플) | True |
| `{}` (빈 딕셔너리) | False  |
| `{'key': 'value'}` (요소가 있는 딕셔너리) | True |
| `None`     | False     |
| `set()` (빈 집합) | False  |
| `{1, 2}` (요소가 있는 집합) | True |

bool()로 찍어볼 수 있음

In [81]:
print(bool(0))
print(bool(1))
print(bool(-1))
print(bool(""))
print(bool(" "))

False
True
True
False
True

In [87]:
print(bool(1) and bool(0))
print(bool(1) or bool(0))
print(not bool(1))
print(not bool(0))

False
True
False
True

In [ ]:
a = [1, 2, 3, 4, 5]
while a:
    b = a.pop()
    print(b)
# pop을 통해서 뒤의 원소가 날라감에 따라 결국 a가 비어지게 되면 false값으로 중지된다

In [101]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

print(set(list_a) & set(list_b))

list_c = list(range(1, 11))
print(sum(list_c))

third_dict = {"name" : "이은섭", "date" : "1118", "addr" : "수원시"}
list_3d_key = list(third_dict.keys())
list_3d_values = list(third_dict.values())
print(list_3d_key)
print(list_3d_values)


list_e = list(range(1, 11))
list_e *= 3
list_e = set(list_e)
print(list_e)

{4, 5}
55
['name', 'date', 'addr']
['이은섭', '1118', '수원시']
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}